      body {
          background-color: #f5f5f5;
          /* Cor de fundo */
          font-family: 'Segoe UI', sans-serif;
          /* Fonte da página */
          position: relative;
          /* Posição relativa para uso de posicionamento absoluto */
          overflow-x: hidden;
          /* Impede que a página tenha rolagem horizontal */
          min-height: 100%;
          /* Garante que o corpo ocupe 100% da altura da tela */
          display: flex;
          /* Flexbox para layout */
          flex-direction: column;
          /* Coloca os elementos em coluna */
      }

      /* Estilo do cabeçalho (topbar) */
      .topbar {
          width: 100%;
          background-color: #bddeed;
          padding: 15px 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      }

      /* Estilo do logo */
      .logo {
          font-size: 28px;
          font-weight: bold;
      }

      /* Cor especial para parte do logo */
      .logo span {
          color: #00bfff;
      }

      /* Estilo para os links de navegação no cabeçalho */
      .nav-links a {
          margin: 100px;
          margin-left: 10px;
          color: black;
          font-weight: 500;
          text-decoration: none;
          transition: color 0.3s ease;
      }

      /* Efeito hover nos links */
      .nav-links a:hover {
          background-color: #52bdd3;
          border-radius: 10px;
      }